@page
@model Paginas_Enchiladas.Pages.EnchiladaMaster.EditModel //Se establece el modelo de la pagina
@{
    ViewData["Title"] = "Actualizar"; //Se establece el titulo de la pagina
}
<h3>Actualizar Enchilada</h3> //Encabezado de la pagina
<hr />
<div class="row">
    <div class="col-md-4"> 
        <form method="post">
            <!-- Formulario para hacer la operacion de actualizar el registro -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  <!-- Resumen de validacion para mostrar errores -->
            <input type="hidden" asp-for="Enchilada.id_Enchilada" />  <!-- Campo Oculto para la ID -->
            <!-- Campos para el registro de los atributos de la tabla enchiladas -->
            <div class="form-group">
                <label asp-for="Enchilada.Tipo_tortilla" class="control-label"></label>
                <input asp-for="Enchilada.Tipo_tortilla" class="form-control" />
                <span asp-validation-for="Enchilada.Tipo_tortilla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enchilada.Relleno" class="control-label"></label>
                <input asp-for="Enchilada.Relleno" class="form-control" />
                <span asp-validation-for="Enchilada.Relleno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enchilada.Salsa" class="control-label"></label>
                <input asp-for="Enchilada.Salsa" class="form-control" />
                <span asp-validation-for="Enchilada.Salsa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enchilada.Precio" class="control-label"></label>
                <input asp-for="Enchilada.Precio" class="form-control" />
                <span asp-validation-for="Enchilada.Precio" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <!-- Boton para guardar la edicion -->
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <!-- Boton  para volver al menu-->
                    &nbsp;&nbsp;<a asp-page="./Index" class="btn btn-success">Volver al Menu</a>
               
            </div>
        </form>
    </div>
</div>


<!-- Script para la operacion de validacion de la actualizacion del registro -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
